In [59]:
import pandas as pd
from sklearn import datasets

In [60]:
df = datasets.load_iris()

In [61]:
df.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [62]:
df1 = pd.DataFrame(df.data, columns=df.feature_names)

In [63]:
df1.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [64]:
df2 = pd.Series(df.target, name='target')

In [65]:
df = pd.concat([df1,df2], axis=1)

In [66]:
df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                5.1               3.5  ...               0.2       0
1                4.9               3.0  ...               0.2       0
2                4.7               3.2  ...               0.2       0
3                4.6               3.1  ...               0.2       0
4                5.0               3.6  ...               0.2       0

[5 rows x 5 columns]

# find null value in dataset

In [67]:
df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
dtype: int64

Dividing into train and test datasets

In [68]:
import numpy as np
from sklearn.model_selection import train_test_split

In [69]:
X = np.array(df.drop(['target'], axis=1))
y = np.array(df.target)

In [70]:
X_train, X_test, y_train,y_test = train_test_split(X, y, test_size=0.2)

Logistic Regression Algorithm

In [71]:
from sklearn.linear_model import LogisticRegression

In [72]:
model = LogisticRegression()

In [73]:
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [74]:
model.score(X_test,y_test)

1.0

To  save model

In [75]:
import pickle

In [76]:
with open('model1','wb') as f:
    pickle.dump(model, f)

Prediction

In [82]:
predict =model.predict(X_test)